<!-- start custom head snippets -->
<link rel="stylesheet" type="text/css" href="https://tickets.hackerspace-krk.pl/burzenin{{ site.year }}/widget/v1.css" crossorigin>
<script type="text/javascript" src="https://tickets.hackerspace-krk.pl/widget/v1.pl.js" async crossorigin></script>
<script type="text/javascript" src="https://program.zjazdtechniczny.pl/burzenin{{ site.year }}/widgets/schedule.js"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
